<header class="article-info clearfix">
  <h2 itemprop="name">
    {% if item.link %}
      <a href="{{ item.link }}" target="_blank" title="{{ item.title }}">{{ item.title }}</a>{% else %}
      <a href="{{ site.baseurl }}{{ item.url }}" title="{{ item.title }}" itemprop="url">{{ item.title }}</a>{% endif %}
  </h2>
  <!-- <p class="article-author">By
       {% if site.author.google_plus %}
		<a href="https://plus.google.com/{{ site.author.google_plus }}?rel=author" title="{{ site.author.name }}" target="_blank" itemprop="author">{{ site.author.name }}</a>
		{% else %}
		<a href="{{ site.baseurl }}/about" title="{{ site.author.name }}" target="_blank" itemprop="author">{{ site.author.name }}</a>
		{% endif %} -->

{% if item.categories and (item.categories | size != 0) %}
<div class="article-categories">
  <span></span>
  <!--
  <%- list_categories(item.categories, {
      show_count: false,
      class: 'article-category',
      style: 'none',
      separator: '►'
  }) %>
  -->
  {% for category in item.categories %}
  <a class="article-category-link" href="{{ site.baseurl }}/categories/#{{ category }}">{{ category }}</a>
  {% endfor %}
</div>
{% endif %}
		
  <!-- <p class="article-time">
    <time datetime="{{ item.date }}" itemprop="datePublished"> {{ lang.datepublished }} {{ item.date | date: "%F" }}</time>
    
  </p> -->
</header>